<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>编辑地址</title>
    <meta content="yes" name="apple-mobile-web-app-capable"><!--可隐藏地址栏，仅针对IOS的Safari（注：IOS7.0版本以后，safari上已看不到效果）-->
    <meta content="yes" name="apple-touch-fullscreen"><!--添加到主屏幕后，全屏显示-->
    <meta content="telephone=no,email=no" name="format-detection"><!--IOS中禁用将数字识别为电话号码/忽略Android平台中对邮箱地址的识别-->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" /><!--避免IE使用兼容模式-->
    <meta content="black" name="apple-mobile-web-app-status-bar-style"><!--仅针对IOS的Safari顶端状态条的样式（可选default/black/black-translucent ）-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../css/base.css"/>
    <link rel="stylesheet" href="../css/index.css"/>
    <!--<link rel="stylesheet" type="text/css" href="../lib/LArea_citySelect/css/LArea.css" >
    <link rel="stylesheet" type="text/css" href="../lib/LArea_citySelect/css/style.css" />-->
    <!--收货地址css-->
    <link href="../lib/addressSelecter/css/common.css" rel="stylesheet" type="text/css">
    <link href="../lib/addressSelecter/css/cityPicker.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="receive-address">
    <form action="">
        <ul>
            <li>
                <label for="name">收货人姓名</label><input type="text" id="name" name="name" placeholder="请输入收货人姓名">
            </li>
            <li>
                <label for="phone">手机号码</label><input type="text" id="phone" name="phone" placeholder="请输入手机号码">
            </li>
            <li>
                <label for="address">地址</label>
                <input type="text" id="address" name="address" readonly placeholder="请选择收货地址" value="">
                <!--<div class="content-block">
                    <input type="text" id="address" name="address" readonly placeholder="请选择收货地址" value="">
                    <input id="addressValue" type="hidden" value=""/>
                </div>-->
            </li>
            <li>
                <label for="detailAddress">详细地址</label><textarea type="text" id="detailAddress" name="detailAddress" placeholder="请输入详细地址"></textarea>
            </li>
        </ul>
        <div class="save-address clearfix">
            <input type="submit" id="save" value="保存地址">
            <input type="button" id="cancel" value="取消">
        </div>
    </form>
</div>
<script src="../lib/jquery/jquery.min.js"></script>
<!--收货地址js-->
<script src="../lib/addressSelecter/js/cityPicker.js"></script>
<script type="text/javascript">
    $("#address").cityPicker({
        prov:"北京市",
        city:"北京市",
        dist:"东城区",
        confirm: function(data){
            $('#address').val(data.prov+data.city+data.dist);
        }
    });

</script>
<script src="../js/index.js"></script>
<!--<script type="text/javascript" src="../lib/LArea_citySelect/js/common.js"></script>
<script src="../lib/LArea_citySelect/js/city.data.min.js"></script>
<script type="text/javascript" src="../lib/LArea_citySelect/js/LArea.js"></script>
<script>
    /*选择收货地址*/
    var area = new LArea();
    area.init({
        'trigger': '#address', //触发选择控件的文本框，同时选择完毕后name属性输出到该位置
        'valueTo': '#addressValue', //选择完毕后id属性输出到该位置
        'keys': {
            id: 'addressValue',
            name: 'text'
        }, //绑定数据源相关字段 id对应valueTo的value属性输出 name对应trigger的value属性输出
        'type': 1, //数据源类型
        'data': LAreaData //数据源
    });
    area.value = [1, 13, 3];//控制初始位置，注意：该方法并不会影响到input的value
</script>-->

</body>
</html>